.nav {
  background: var(--theme-primary);
  color: var(--theme-on-primary);
}

.nav a {
  color: inherit;
}

.nav a:hover {
  text-decoration: none;
}

.inner {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  margin-right: 1rem;
}

.logo img {
  margin-right: 1rem;
  border: 2px solid currentColor;
}

.title {
  font-weight: bold;
  font-size: 1rem;
  color: inherit;
}

.links a {
  display: inline-block;
  padding: 0 0.75rem;
  line-height: 2rem;
  border-radius: 9999px;
}

.links a:hover {
  background: rgba(255, 255, 255, 0.2);
}
